* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: rgb(27, 26, 53);
  --primary-color: rgb(46, 44, 82);
  --secondary-color: #335C81;
  --dark-bg: rgb(20, 19, 40);
  --light-text: #ecf0f1;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.main {
  width: 1000px;
  background-color: var(--dark-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main * {
  margin-top: 10px;
}


.card {
  border-radius: 30px;

  height: auto;
  max-width: 100%;
  margin-top: 10px;
  background-color: var(--primary-color);
  color: var(--light-text);

  padding: 20px;
  box-sizing: border-box;


  display: flex;
  flex-direction: column;
}

.aboutme {
  height: 500px;
  width: 95%;

  display: flex;
  flex-direction: row;
  
  align-items: center;
}


.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.collapsible_entry {
  transition: max-height 0.4s linear;
  max-height: 0;

  overflow: hidden;
  flex-direction: column;
  align-items: center;
    width: 95%;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;

}

.active:after {
  content: "\2212";
}

.headshot {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  border: 10px solid;
  border-color: var(--background-color)
}

.project_pic {
  border-radius: 15%;
  width: 275px;
  height: 275px;
  border: 6px solid;
  border-color: var(--background-color);
  margin-right: 10px;
}

.project_content {
  display: flex;
  flex-direction: row;
}

.aboutme_content {
  text-wrap: wrap; /* Default behavior */
  margin: 30px;
}

a:link {
  color: pink;

  text-decoration: none;
}

a:visited {
  color: pink;

  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.education_pic {
  border-radius: 15%;
  width: 120px;
  height: 120px;
  border: 6px solid;
  border-color: var(--background-color);
  margin-right: 10px;
}

ul {
  margin-left: 16px;
}





.quick-links {
  height: auto;
  width: 95%;
  flex-direction: row;
  gap: 120px;
  padding: 16px 20px;
  margin-bottom: 20px;

    align-items: center; 

  justify-content: center; 
}

.ql-btn {
  background-color: var(--dark-bg);

  padding: 20px;
  display: flex;
  align-items: center; 

  justify-content: center; 
  align-items: center;

  border-radius: 30px;
  text-decoration: none; color: var(--light-text);
  transition: background-color 0.15s;
}

.ql-btn:hover { background-color: var(--background-color); text-decoration: none;}

@media (max-width: 768px) {
  .main {
    width: 100%;
  }

  .aboutme {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .headshot {
    width: 200px;
    height: 200px;
  }

  .project_content {
    flex-direction: column;
    align-items: center;
  }

  .project_pic {
    width: 200px;
    height: 200px;
    margin-right: 0;
  }

  .quick-links {
    gap: 20px;
  }

}